extends layout

block content
  section.row.game
    canvas(width=800, height=600)
    div#score
      span#redScore= 0
      span: /
      span#blueScore= 0
      script(src="/maps/#{map}.js")
    div#endScreen
      div 
        h2#result
        p#saveProgress saving....
        a.btn(href="/") Back To Lobby
  script.
    var game = new Game("#{blue}", "#{red}");

block scripts
  script(src="/javascripts/game.js")
