doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    header
      div.row
        a.logo(href="/") League of Planets
        if (user)
          a.btn(href="/logout") logout
    div.row
      if (flash.msg)
        p.msg= flash.msg
      if (flash.alert)
        p.alert= flash.alert
      block content