doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='')
    link(rel='stylesheet', href='/stylesheets/index.css')
    block scripts
  body
    header
      div.row
        a.logo(href="/") League of Planets
        if (user)
          ul.menu
            li
              a lobby
            li
              a matching
            li
              a rank
            li
              a(href="/help") help
          a#logoutBtn(href="/logout") 
            button Logout
        else
          form#loginForm(action="/login", method="POST")
            input(type="text", name="id", placeholder="ID")
            input(type="password", name="password", placeholder="PASSWORD")
            input(type="submit", value="Login")
    block content