extends layout

block content
  section.row.info
    aside
      h1 profile
      dl
        dt NAME
        dd #{user}
        dt SCORE
        dd
          table
            thead
              tr
                th WIN
                th DRAW
                th LOSE
            tbody
              tr
                td 20
                td 1
                td 30
      a.btn(href="/match/random") Random Matching
    article
      if (flash.msg)
        p.msg= flash.msg
      if (flash.alert)
        p.alert= flash.alert
      table
        thead
          tr
            th File Name
            th Primary
        tbody
          -for(var i = 0; i < myCodes.length; i++)
            tr
              td #{myCodes[i]}
              td
                a(href="/code/primary?codeName=" + myCodes[i])
                  button.btn Set Primary
                button.btn DELETE
                button.btn
                  span.icon.save
                  span &nbsp;Save
          tr
            td(colspan="3")
              form(action="/code", method="POST", enctype="multipart/form-data")
                input(name="code", type="file", required, accept="text/javascript")
                input.btn(type="submit", value="+UPLOAD") 
